*{
  box-sizing: border-box;
  background-image:url("/home/wecode/Downloads/WhatsApp Image 2019-07-13 at 11.03.43.jpeg") ;
  background-attachment:fixed;
  background-size:cover;
  background-position: center;
}

body{
  display:flex;
  font-size:20px;
 }

.header{
  float:left;
  background-color:silver;
  width:50%;
  border:1px solid; 
  margin:20px;
  height:700px;
}

 .header h2{
  font-size:50px;
  color:white;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style:italic;
  text-align: center;
  text-shadow: 2px 2px beige;
}

.header p{
  font-size:30px; 
}

nav{
  overflow: hidden;
}

nav a{
  display:block;
  color:violet;
  font-size:18px;
  text-decoration: none;
  margin:5px;
  text-align: center
}
nav a:hover{
  background-color: white;
  color: blue;
}

h3{
  text-align: center;
}
section{
  float:left;
  flex-direction:column;
}

#contacts{
  padding:40px;
  padding-top: 20px;
  text-align: center;
}
