.header{
  position: relative;
  width: 100%;
  max-width: 300px;
  color: whitesmoke;
}

#about, #projects ,#skills ,#contacts{
  background-color: aliceblue;

}
 .header h2{
  font-size:50px;
  color:white;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style:italic;
  text-align: center;
} 
.imgHeader{
  display: block;
  width: 100%;
  height: auto;
  
}
.headerOverlay{
  color: #f1f1f1; 
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}
header p{ 
  font-size:30px; 
  text-align: center;
  font-weight: bold;
}

.nav{
  float:left;
  width:100%;
  overflow: hidden;
  text-align: center;

} 

nav a{
  float:left;
  color:white ;
  font-size:18px;
  text-decoration: none;
  margin:0px;
  padding:14px 16px ;
  text-align: center

}
nav a:hover{
  background-color: white;
  color: grey;

}
h3{
  text-align: center
}



.me{
text-align: center;
}
.me>img{
  position: relative;
  justify-content: center
}
.more{
  text-align: center;
  margin-top: 5px;
}
#projects{
  margin:5px;
  padding: 5px;
}
.project{
  display: flex;

}
.proj1{
  float:left;
  width:33%;
}
.proj2{
  float:left;
  width:33%;
}
.proj3{
  float:left;
  width:33%;
}
#contacts{
  float:left;
  width:100%;
  overflow: hidden;
  text-align: center;
  background-color: gainsboro;

}

 #skillssection{
  height: 300px;
  margin-top: 30px;
 }
 .icons{
  text-align: center;
 }
 .ic1,.ic2,.ic3,.ic4,.ic5,.ic6,.ic7,.ic8,.ic9,.ic10,.ic11{
  text-align: center;
  height: 150px;
  width: 150px;
 }
