

body{
  font-size:20px;
  margin:10px 80px 10px 80px;
}

*{
  box-sizing: border-box;
  background-image:url("/home/wecode/Downloads/WhatsApp Image 2019-07-13 at 11.03.43.jpeg");

  background-size:cover;
  background-position: center;
  margin:10px 30px 10px 30px;
}

body{
  display:flex;
  font-size:20px;

 }

.header{
  float:left;
  background-image:url("http://cdn.mobsocmedia.com/uploads/sites/82/shutterstock_130705718_1445036339.jpg");
  background-size:cover;
  width:100%;
  border:1px solid black; 
  height:30%;
  
}

 .header h2{
  font-size:50px;
  color:white;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style:italic;
  text-align: center;
  text-shadow: 2px 2px beige;
}

.header p{
  font-size:30px; 
  text-align: center;
  font-weight: bold;
}

.nav{
  float:left;
  width:100%;
  overflow: hidden;
  position:sticky;

  

}

nav a{
  float:left;
  color:red;
  font-size:18px;
  text-decoration: none;
  margin:0px;
  padding:14px 16px ;
  text-align: center

}
nav a:hover{
  background-color: white;
  color: blueviolet;

}

nav{
  overflow: hidden;
}

nav a{
  display:block;
  color:violet;
  font-size:18px;
  text-decoration: none;
  margin:5px;
  text-align: center
}
nav a:hover{
  background-color: white;
  color: blue;

}

h3{
  text-align: center;
}
section{
  float:left;
  flex-direction:column;

  padding:10px;
  margin:10px auto 50px auto;

}
#about{
  float: left;
  width:30%;
  height:655px;
  margin-right: 20px;
  background-color:silver;
  font-size:18px;
}
#about img{
  border-radius: 40px;
  padding:10px;
}
#skills{
  text-align: center;
  padding:0px;
  border:1px solid white;
  background-color:rgba(100,50,120,0.8)
}
#skills>ul>li{
  list-style-type:none;
}
#projects{
  margin-top:10px;
  background-image:url("https://thumbs.dreamstime.com/z/pens-books-5982043.jpg");
  background-size: cover;

}
#projects>h3{
  text-align: center;
}

.work{
  column-count: 2;
  column-width: 49%;
}
.eee{
  float: left;
}

#contacts{
  background-color:papayawhip;
  color:blue;
  border:1px dashed white;
  margin:10px;
  text-align:center;
  margin:10px auto 10px auto;

}

#contacts{
  padding:40px;
  padding-top: 20px;
  text-align: center;

}

